<%//user is an object containing all info of the current user sent by the api%>
<%// and users is an array containing info of all other users except current also sent by the upi%>

<%- include('layouts/header.ejs') %>


<h2 class="mb-4"> Hii, <%= user.name %> </h2>

<!-- 3 column me users details, 9 column me chats -->
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <% 
                if(users.length>0){
                    for(let i=0;i<users.length;i++){
                        %>
                            <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]['_id'] %>" data-img="<%= 'http://127.0.0.1:3000/'+users[i]['image'] %>" >                     <%//data-id ek user_defined attribute hai jisme id hai%>
                                <img class="border-radius-50" src="<%= 'http://127.0.0.1:3000/'+users[i]['image'] %>" alt="" width="50px" height="50px" >
                                <%= users[i]['name'] %>  
                                
                                <%  
                                    if(users[i]['is_online'] == '1'){
                                        %>
                                            <sup class="online-status" id="<%= users[i]['_id'] %>-status" >Online</sup>
                                        <%
                                    }
                                    else{
                                        %>
                                            <sup class="offline-status" id="<%= users[i]['_id'] %>-status" >Offline</sup>
                                        <%
                                    }
                                %>
                            </li>
                        <%
                    }
                } 
            %>
        </ul>
    </div>

    <div class="col-md-9">

        <h3 class="start-head"> Click to start the Chat</h3>
        <div class="chat-section">

            <div id="chat-container">
                <%// div class="current-user-chat">
                //     h5> Hii /h5>
                // /div>
                // div class="distance-user-chat">
                //     h5> Hello /h5>
                // /div>
                %>
            </div>

            <form action="" id="chat-form">
                <input type="text" name="message" id="message" placeholder="Enter Message" class="border" required>
                <input type="submit" value="Send Message" class="btn btn-primary">    
            </form>
        </div>
    </div>
</div>






<%/* Delete chat model */%>

<div id="deleteChatModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



        <form id="delete-chat-form">

            <div class="modal-body">
                <input type="hidden" name="id" id="delete-message-id">
                <p>Are you sure you want to delete this chat?</p>
                <p><b id='delete-message'></b></p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>

        </form>



    </div>
  </div>
</div>










<script>
    
    var sender_id = '<%= user._id %>';      //current user ki id
    var receiver_id;
    var socket = io('/user-namespace', {    // ab yha se userid leke backend me jao
        auth:{
            token: '<%= user._id %>'        //token ki jagah kuch bhi naam rakh skte hai, just identifier, (used token so that easy integration with react.js in future)
        }
    });




    $(document).ready(function(){
        
        $('.user-list').click(function(){

            var userId = $(this).attr('data-id');   //jis user pe click kru wo receiver hai toh uski id uthalo and it will be receiver_id now
            var imgId = $(this).attr('data-img');
            receiver_id = userId;

            $('.start-head').hide();
            $('.chat-section').show();

            socket.emit('existsChat', {sender_id:sender_id, receiver_id:receiver_id, imgId:imgId});
        });
    });

    //update user online status
    socket.on('getOnlineUser', function(data){
        $('#'+data.user_id+'-status').text('Online');               //har user ki unique id bnayi hai in line 21 so that jo user online ya offline jaye uske saamne hi online offline set krde
        $('#'+data.user_id+'-status').removeClass('offline-status');
        $('#'+data.user_id+'-status').addClass('online-status');
    });

    //update user offline status
    socket.on('getOfflineUser', function(data){
        $('#'+data.user_id+'-status').text('Offline');
        $('#'+data.user_id+'-status').removeClass('online-status');
        $('#'+data.user_id+'-status').addClass('offline-status');
    });

    //chat save of user
    $('#chat-form').submit((event)=>{       //chat form submit krne pe page refresh ho rha tha, we prevent it
        event.preventDefault();

        var message = $('#message').val();

        $.ajax({
           url: '/save-chat',
           type: 'POST',
           data: { sender_id: sender_id, receiver_id:receiver_id, message:message},     //db me save krne ke liye api hit krenge
           success: (response)=>{   
                if(response.success){                           //agar save kr diya toh current-user-chat me display bhi krdo aur broadcast krdo taaki distance wale user ko bhi mile
                    // console.log(response);
                    
                    $('#message').val('');
                    let chat = response.data.message;
                    let html = `
                    <div class="current-user-chat" id='`+response.data._id+`'>
                        <h5> `+ chat+`
                            <i class="fa fa-trash" aria-hidden="true" data-id='`+response.data._id+`'  data-toggle="modal" data-target="#deleteChatModal"></i>
                        </h5>
                    </div>
                    `;

                    $('#chat-container').append(html);
                    socket.emit('newChat', response.data); 
                    
                    scrollChat();
                }
                else{
                    alert(data.msg);
                }
           }
        });
    });


    socket.on('loadNewChat', (data)=>{              //kisi distance user ne bheja hai, check kro hamare liye hi bheja hai then append in left side
        if(sender_id == data.receiver_id && receiver_id == data.sender_id){
            let html = `
                <div class="distance-user-chat" id='`+data._id+`'>
                    <h5> `+ data.message +` </h5>
                </div>
            `;
            $('#chat-container').append(html);
        }
        scrollChat();
    })


    //load old chats
    socket.on('loadChats', (data)=>{
        $('#chat-container').html('');      //chat area me saari chats empty krdi pehle taaki jab dusre user pe click kre toh ab fresh chats load ho

        var chats = data.chats;
        // console.log(chats);

        let html='';

        for(let i=0;i<chats.length;i++){
            let addClass='';
            if(chats[i]['sender_id'] == sender_id){      //(sender_id is global) agar maine chats bheji hai
                addClass = 'current-user-chat';
            }
            else{
                addClass = 'distance-user-chat';
            }

            html+= `
                <div class='` +addClass+ `' id='`+chats[i]['_id']+`'>
                    <h5>` +chats[i]['message'];                                 //har chat ko unique id dedi so that easy to delete on both side
                        
            if(addClass=='current-user-chat'){                                  //delete ka icon sirf right side wale me aaye
                html+=`<i class="fa fa-trash" aria-hidden="true" data-id='`+chats[i]['_id']+`'  data-toggle="modal" data-target="#deleteChatModal"></i>`;           //delete icon ko bhi (user defined attribute) data-id me unique id dedi, data-toggle and data-target is for popup
            }
            
            html+=`</h5>
                </div>`;
            
                // console.log(html);

        }
        $('#chat-container').append(html);      //ab chat-area me saari chats daaldo
        
        scrollChat();
    });


    function scrollChat(){      //to auto scroll at last chat point
        $('#chat-container').animate({
            scrollTop:$('#chat-container').offset().top + $('#chat-container')[0].scrollHeight
        }, 0);  //0 is animate time taken
    }




    //delete chat work (see 18:00)

    $(document).on('click', '.fa-trash', function(){
        let msg = $(this).parent().text();                  //msg ka text
        $('#delete-message').text(msg);                     //pop up me msg show

        $('#delete-message-id').val($(this).attr('data-id'));       //input box me default msg ki id aa jayegi, but hmne input box ko hidden kr diya hai, we just checked msg id was same
    })

    $('#delete-chat-form').submit(function(event){        //jab form(pop-up) submit kre then trigeer ajax request to api for deleting msg from database
        event.preventDefault();

        var id = $('#delete-message-id').val();

        $.ajax({
            url:'/delete-chat',
            type:'POST',
            data: {id:id},
            success:function(res){
                if(res.success == true){                    //if success means db se delte ho gya then delte from screen too
                    $('#'+id).remove();                     //har msg ke paas apni id hai, thus us id ki help se wo msg remove kr diya screen ki unordered-list se, BUT ye toh apni window pe hua, dusre user ki window se delete krne ke liye broadcast

                    $('#deleteChatModal').modal('hide');    //pop-up window apne aap band nhi hoga, forced band krne ke liye

                    socket.emit('chatDeleted',id);          //dusre user ki screen se delete krne ke liye broadcast krenge
                }
                else{
                    alert(res.msg);
                }
            }

        })
    });



    socket.on('chatMessageDeleted', (id)=>{
        $('#'+id).remove();
    });

</script>

<%- include('layouts/footer.ejs') %>